html{
    min-height: 100%;
    box-sizing: border-box;
  }
  body{
    background: rgba(255, 255, 255, 0.822);
    color: black;
    margin: 0 10px;
  }



nav{
    display: flex;
    justify-content: space-between;
    /* align-items: center;  */
    /* padding-left: 20px; */
    margin: 20px;

}

 ul li{
    list-style: none;
    overflow: hidden;
    margin-right: 20px;
  
  }
  nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px;
    
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
nav img{
    margin: 20px;
    width: 50px;
    margin-right: 20px;
}
.contact{
    float: right;
}
.desc{
    margin-left: 120px;
    margin-bottom: 30px;
}
.contact{
    margin-right: 120px;
    color: rgba(0, 0, 255, 0.37);
    border: 2px solid rgba(0, 0, 255, 0.548);
    padding: 30px;
    font-size: 20px;
    border-radius: 50px;
    
}
.section1{
    background-color: white;
    margin: 120px;
    margin-bottom: -200px;
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
}
  .propos{
    font-weight: 400;
    font-size: 25px;
    color: rgba(0, 0, 255, 0.37);
    ;
  }
  .telecherger{
    padding: 20px 150px;
    border: 2px solid rgba(0, 0, 255, 0.37) ;
    background: rgba(0, 0, 255, 0.37);
    color: white;
    border-radius: 20px;
  }
.section2{
    margin-top: 500px;
    background-color: rgba(240, 255, 255, 0.301);
}
.Portfolio{
    background-color: rgb(226, 223, 223);
    float: right;
    margin-top: -100px;
    margin-right: 120px;
    padding-left: 770px;
    padding-top: 10px;
    padding-bottom: 10px;

}
span{
    color:rgba(0, 0, 255, 0.37)
}
.folio{
    color: rgba(19, 19, 209, 0.37) ;
    margin: 120px;

}
.section3{
    margin: 120px;
    margin-top: 350px;
    display: flex;
   align-items: center;
   gap: 20px;
   
}
.projet1{
    float:right;
}
.service{
    color: rgba(0, 0, 255, 0.37) ;
   margin-top: -300px;
}
.section4{
    margin: 120px;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
   /* align-items: center; */
   gap: 20px;
}